mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background-color: rgb(114, 114, 114);
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}


mat-sidenav-container{
    height: calc(100vh - 65px);
}

.menu-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon{
        margin-right: 8px;
    }
}

.avatar{
    height: 4rem;
    width: 4rem;
}

.user-name{
    margin: 0;
    margin-top: 8px;
    font-weight: normal;
}

mat-divider{
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: aquamarine;
}