<div class="mainContainer">
    <div class="left">
        <div class="img">
            <img src="assets/residuum.jpeg" alt="logo-residuum">
        </div>
    </div>
    <div class="right">
        <h3>LOGIN</h3>

        <div class="formBox">
            <form>
                <label for="usernameAndCNPJId">USERNAME/CNPJ</label>
                <input type="text" name="" placeholder="username" id="usernameAndCNPJId">

                <label for="passwordId">SENHA</label>
                <input type="password" placeholder="*******" id="passwordId">

                <input type="submit" value="ENTRE" onclick="fazerLogin()">
            </form>

            <button id="new">Cadastra-se aqui</button>
        </div>
    </div>
</div>
