.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7e7e7e;
}

.mainContainer .left {
    width: 50%;
    text-align:right;
}

.mainContainer .left img {
    width: 50%;
    max-width: 300px;
}

.mainContainer .right {
    width: 50%;
    text-align: center;
}

.mainContainer .right .formBox >h3 {
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}

.formBox {
    max-width: 900px;
    padding: 60px;
    background: #fff;
    border: 100px;
    border-radius: 5px;
    text-align: center;
}

.formBox label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.formBox input {
    width: 100%;
    padding: 10px;
    margin: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

#new {
    margin-top: 10px;
}
