<div class="mainContainer">
    
    <div class="right">
       
        <div class="formBox">
     
            <form>
            
                <div class="left">
                    <img src="assets/logo-residuum.jfif" alt="logo-residuum">
                </div>

                <h3>LOGIN</h3>

                <label for="usernameAndCNPJId">USERNAME/CNPJ</label>
                <input type="text" name="" placeholder="username" id="usernameAndCNPJId">

                <label for="passwordId">SENHA</label>
                <input type="password" placeholder="*******" id="passwordId">

                <input type="submit" value="ENTRE" onclick="fazerLogin()">
            </form>

            <button onclick="openCadastroModal()" id="new">Cadastra-se aqui</button>
        </div>
    </div>
</div>


